.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #030712;
}

.tailwind__header {
    padding: 20px 0;
}


h1 {
    font-size: clamp(1.438rem, -2.562rem + 20.000vw, 1.563rem);
    font-weight: 600;
    color: #030712;
    text-align: center;
}

.tailwind__search {
    position: relative;
    margin-bottom: 20px;
}

.tailwind__search input {
    width: 100%;
    padding: 6px 15px 6px 26px;
    border: 1px solid #00000032;
    border-radius: 4px;
}

.tailwind__search label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.tailwind__search label i {
    color: #0307128e;
}

.tailwind__search input::placeholder {
    text-transform: capitalize;
}

.tailwind__search input:focus {
    border: 1px solid #00a6f4;
    background-color: #f4f7ff;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}


table thead tr {
    border-bottom: 1px solid #00000032;
}

table thead tr th {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

table thead tr th {
    user-select: none;
}

table thead tr th {
    padding: 10px;
    text-align: left;
}