@import "tailwindcss";

@theme {
    --font-mont: "Montserrat", sans-serif;
}

body {
    @apply text-base text-[#030712] font-mont;
}

html {
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* margin: 0; */
    /* padding: 0; */
    /* outline: none; */
    /* border: none; */
}



li {
    list-style: none;
}

img {
    vertical-align: top;
}

*::before,
*::after {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}