  .tumb_two {
      font-family: "Montserrat", sans-serif;
  }

  .tumb_two .wrap_two {
      position: relative;
      cursor: pointer;
  }

  

  .wrap_two .btn2 {
      position: absolute;
      width: 65px;
      height: 23px;
      border: 1px solid #efefed;
      border-radius: 99px;
      right: 10px;
      bottom: 0px;
  }


  .wrap_two .btn2::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: .095rem;
      background-color: #fff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
      transition: all .2s ease-in-out;
  }



  .wrap_two input:checked+.btn2::before {
      left: calc(100% - 20px);
      background-color: #00d54f;
  }


  .wrap_two .btn2::after {
      content: 'dark';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 7px;
      font-size: 12px;
      font-weight: 600;
      color: #adadad;
      /* padding-top: 2px; */
  }

  .wrap_two input:checked+.btn2::after {
      content: 'light';
      right: 27px;
      color: #adadad;
  }

  .tumb_two .inp2 {
      appearance: none;
      width: 1px;
      height: 1px;
      margin-left: -1px;
  }