body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

main section:not(:last-child) {
    margin-bottom: 20px;
}

.show {
    display: block !important;
}