.three {
    padding: 15px 20px 15px 20px;
    border: 1px solid #d2d2d2d2;
    border-radius: 8px;
    display: inline-block;
    min-width: 320px;
}

.three__title {
    font-weight: 500;
    font-size: 16px;
    color: rgb(99, 79, 79);
    padding-bottom: 8px;
}

.three__chb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    margin-bottom: 10px;
}


.three__btn {
    width: 100%;
    height: 25px;
    background-color: #258dc1;
    color: #fff;
    font-family: inherit;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color .2s ease-in-out;
    margin-bottom: 10px;
}

.three__sum {
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    background-color: #d2d2d238;
    border-radius: 3px;
}

.three__sum span {
    font-weight: 500;
}

.three__btn:active {
    scale: 1.03;
}


.three__btn:hover {
    background-color: #257096;
}

.three__btn.off {
    cursor: default;
}

.three__btn.off {
    scale: 1;
}

.three__btn.off:hover {
    background-color: #258dc1;
}

.three__btn.off:active {
    scale: 1;
}