.two {
  padding: 15px 20px 15px 20px;
  border: 1px solid #d2d2d2d2;
  border-radius: 8px;
  display: inline-block;
  min-width: 320px;
}

.two__title {
  font-weight: 500;
  font-size: 16px;
  color: rgb(99, 79, 79);
  padding-bottom: 8px;
}

.two__subtitle {
  font-weight: 500;
  font-size: 12px;
  color: rgb(255, 120, 120);
  padding-bottom: 10px;
}

.two__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #20709e4b;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 99, 71, 0.096);
  font-size: 15px;
  margin-bottom: 10px;

}

.two__header h3 {
  font-size: 12px;
  font-weight: 500;
  color: rgb(1, 18, 173);
}

.two__header span {
  font-size: 16px;
  font-weight: 600;
  color: rgb(1 127 173);
}



.two__controls {
  border: 2px solid #d2d2d2;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0b6;
}

.two__controls-title {
  color: rgb(99, 79, 79);
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 5px;
}

.two__controls-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.two__controls button {
  width: 100%;
  height: 25px;
  background-color: green;
  color: #fff;
  font-family: inherit;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .2s ease-in-out
}

.two__controls button:nth-child(1) {
  background-color: rgba(0, 182, 0, 0.664);
}

.two__controls button:nth-child(2) {
  background-color: rgb(255, 34, 34);
}

.two__controls button:nth-child(3) {
  background-color: #6d6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.two__controls button:nth-child(1):hover {
  background-color: rgba(0, 136, 0, 0.664);
}

.two__controls button:nth-child(2):hover {
  background-color: rgb(204, 22, 22);
}

.two__controls button:nth-child(3):hover {
  background-color: #424242;
}

.two__controls button:active {
  scale: 1.03;
}